In [1]:
import numpy as np
import pandas
from pandas import Series,DataFrame

In [2]:
#判断是否有空数据 isnull :存在空数据返回True，否则为False

In [3]:
df = DataFrame(data=np.random.randint(0,150,size=(10,5)),index=range(100,110),columns=['python','en','math','chinese','music'])
df.isnull()

     python     en   math  chinese  music
100   False  False  False    False  False
101   False  False  False    False  False
102   False  False  False    False  False
103   False  False  False    False  False
104   False  False  False    False  False
105   False  False  False    False  False
106   False  False  False    False  False
107   False  False  False    False  False
108   False  False  False    False  False
109   False  False  False    False  False

In [4]:
df

     python   en  math  chinese  music
100      26  135    50       30     50
101     140  120   102      105     52
102     110   62    23      130    113
103     134   38    12      145     45
104      63   34    96       64     66
105     109    8   128       64     69
106      71   10    12      132     37
107      15   87   124       71     52
108     138   55   131       82    148
109      64    8     6      139     82

In [5]:
df.isnull().all()

python     False
en         False
math       False
chinese    False
music      False
dtype: bool

In [6]:
df.notnull().all()

python     True
en         True
math       True
chinese    True
music      True
dtype: bool

In [7]:
'''
python的内置函数之二
元素除了是 0、空、FALSE 外都算 TRUE。
xxx.any()  any() 函数用于判断给定的可迭代参数 iterable 是否全部为 False，则返回 Fals
           如果有一个为 True，则返回 True。
xxx.all()  函数用于判断给定的可迭代参数 iterable 中的所有元素是否都为 TRUE
           如果是返回 True，否则返回 False。
'''

'\npython的内置函数之二\n元素除了是 0、空、FALSE 外都算 TRUE。\nxxx.any()  any() 函数用于判断给定的可迭代参数 iterable 是否全部为 False，则返回 Fals\n           如果有一个为 True，则返回 True。\nxxx.all()  函数用于判断给定的可迭代参数 iterable 中的所有元素是否都为 TRUE\n           如果是返回 True，否则返回 False。\n'

In [23]:
#获得随机行数（索引）
for i in range(10):
    index = np.random.randint(100,110,size=1)[0]
    col = np.random.choice(df.columns)
#     print("index:%d col:%s value:%d"%(index,col,df.loc[index,col]))
#     df.loc[index,col] = None
#     df.loc[index,col] = np.NAN
    df.loc[index,col] = np.NaN
    #三个代码效果一样
df

     python  en  math  chinese  music
100     NaN NaN   NaN      NaN    NaN
101     NaN NaN   NaN      NaN    NaN
102     NaN NaN   NaN      NaN    NaN
103     NaN NaN   NaN      NaN    NaN
104     NaN NaN   NaN      NaN    NaN
105     NaN NaN   NaN      NaN    NaN
106     NaN NaN   NaN      NaN    NaN
107     NaN NaN   NaN      NaN    NaN
108     NaN NaN   NaN      NaN    NaN
109     NaN NaN   NaN      NaN    NaN